h1 {
    text-align: center;
}
#puppy-pic {
    width: 20%;
    height: 30%
}
body{
    font-family:'Courier New', Courier, monospace;
    font-weight: 10px;
}

#BGimage{
    
}

button {
    padding: 1%;
    size:0px;
}

p {
    padding:1%;
    text-wrap: none;
    font-size: 25px;
}
