h1 {
    text-align: center;
}

body{
    font-family:'Courier New', Courier, monospace;
    font-weight: 5px;
}

#BGimage{
    /**Added bg image and fit, fill, blur and center**/
    background-image: url(Pictures/puppys.jpg);
    background-position: center;
    background-size: cover;
    top: 20px;
    left: 20px;
}

button {
    padding: 1%;
    size:0px;
}

p {
    padding:1%;
    text-wrap: none;
    font-size: 20px;
}
