
#puppy-pic {
    width: 20%;
    height: 50px;
    position: absolute;
}
#pup-pic {
    fill: fit;
}
body{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: teal;
    background-image: url(Pictures/dusty600.png);
    color: #FF0000;
}

/* CSS rules for mobile */
@media only screen and (max-width: 600px) {
    body {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: teal;
    background-image: url(Pictures/dusty600.png);
    background-repeat: no-repeat;
    background-size:cover;
    }
}

#BGimage{
    
}

button {
    padding: 1%;
    size:0px;
}

p {
    padding-left:5%;
    padding-right:5%;
    text-wrap: none;
    font-size: 25px;
    color: red;
}
h1 {
    text-align: center;
    color:black;
}
